$white: #fff;
$light-gray: darken($white, 25%);
$gray: darken($light-gray, 25%);
$dark-gray: darken($gray, 25%);
$black: darken($dark-gray, 25%);

$sam0: #2c3337;
$sam1: #384047;
$sam2: #515b64;
$sam3: #d2d1d0;
$sam4: #0c0b0a;
$sam5: #9ea7ad;
$sam6: #4d5860;
$sam7: #16181a;
$sambg00: #DAD7CF;
$sambg01: #C8C1B6;
